body{
    background-image:url('https://pa1.narvii.com/7131/b61dd154e11882fa481a302041fa1c0503f73dc5r1-480-480_hq.gif');
    font-family:'Arial Narrow';
    background-size: 50vw 50vh;
}

.menu{
    background-color: white;    
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.site-title, .site-subtitle{
    text-align: center;
    font-family:'Arial Narrow';
}

.site-subtitle{
    font-style: italic;
}
