/*inicio do reset do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fim do reset do site*/
body{
    background-image:url('https://pa1.narvii.com/7131/b61dd154e11882fa481a302041fa1c0503f73dc5r1-480-480_hq.gif');
    font-family:'Arial Narrow';
    background-size: 100vw 100vh;
    font-size: 12px;
}
/*Se a tela tiver menos de 400px ela vai ficar de outra forma*/
@media (min-width: 350px){
    body{
        font-size: 17px;
    }
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul{
    display: flex;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    display: block;
    padding: 10px 20px;

}

a{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.site-title, 
.site-subtitle{
    text-align: center;
    color: whitesmoke;
}

.site-subtitle{
    font-style: italic;
}

.img-portfolio{
    height: 180px;
    width: 180px;
}